.contentbox1{
    background-color: black;
    color: white;
}
#currentExpenses{
    margin: 50px;
    
    
}

#optimizedExpenses {
    margin: 50px 50px 50px;
    
}
.form-control, #inputRevenue, #inputpercent, #drpDownPercent, #optExpenses, #netSaving, #dataDisplay{
    height: 50px;
    width: 200px;
}
#inputRevenue,#inputpercent, #drpDownPercent{
    border: 2px solid deepskyblue;
    margin-left: 170px;
}
#dataDisplay{
    border: 2px solid darkred;
    background-color: white;
    color: black;
    margin-left: 170px;
    margin-bottom: 10px;
}
#netSaving, #optExpenses
{
    border: 2px solid darkred;
    background-color: white;
    color: black;
    margin-left: 3px;
    margin-bottom: 5px;
    
}
#optimizedExpenses, #currentExpenses{
    border: 2px solid seagreen;
    background-color: white;
    color: black;
}
 #lblRevenue, #lblprocent, #lblExp, #lblProcent, #lblOpt, #lblSave{
     margin-left: 170px;
 }
.col-xs-6>.form-control>#inputRevenue, .col-xs-6>.form-control>#inputpercent, .col-xs-6>.form-control>#drpDownPercent, .col-xs-6>.form-control>#optExpenses, .col-xs-6>.form-control>#netSaving, .col-xs-6>.form-control>#dataDisplay{
    height: 20px;
    width: 100px;
}

h1{
    text-align: center;
    
    
}
h6{
    text-align: center;
    font-size: 10px;
}

#slider{
    width: 300px;
}
input.none{
    margin-left: 500px;
    border-radius: 8px;
    border: 1px solid lightseagreen;
    background-color: floralwhite;
   
}
